<div class="p-grid">
	<div class="p-col-12">

		<p-toast></p-toast>

		<div class="card">
			<p-toolbar styleClass="p-mb-4">
				<ng-template pTemplate="left">
					<button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
						(click)="createAction()"></button>
					<button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger p-mb-2"
						(click)="deleteSelectedProducts()"
						[disabled]="!selectedProducts || !selectedProducts.length"></button>
				</ng-template>

				<ng-template pTemplate="right">
					<p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import"
						chooseLabel="Import" class="p-mr-2 p-mb-2 p-d-inline-block"></p-fileUpload>
					<button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help p-mb-2"
						(click)="dt.exportCSV()"></button>
				</ng-template>
			</p-toolbar>

			<p-table #dt [value]="customers1['alicilar']" [columns]="cols" [rows]="10" [paginator]="false"
				[globalFilterFields]="['aliciID','aliciName','address','aliciTelNo']" [rowHover]="true" dataKey="id"
				styleClass="p-datatable-customers"
				currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
				[showCurrentPageReport]="true">
				<ng-template pTemplate="caption">
					<div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
						<h5 class="p-m-0">Manage Products</h5>
						<span class="p-input-icon-left">
							<i class="pi pi-search"></i>
							<input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
								placeholder="Search..." />
						</span>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th style="width: 3rem">
						</th>
						<th pSortableColumn="aliciID"># <p-sortIcon field="#"></p-sortIcon>
						</th>
						<th pSortableColumn="aliciName">Name <p-sortIcon field="#"></p-sortIcon>
						</th>
						<th pSortableColumn="address">Address <p-sortIcon field="address"></p-sortIcon>
						</th>
						<th pSortableColumn="aliciTelNo">Phone Number <p-sortIcon field="aliciTelNo"></p-sortIcon>
						</th>
						<th>
							Delete
						</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-customer>
					<tr>
						<td>
							<button routerLink="/customer-detail/{{customer.aliciID}}" pButton pRipple icon="pi pi-key"
								class="p-button-rounded p-button-success p-mr-2"></button>
						</td>
						<td><span class="p-column-title">#</span>
							{{customer.aliciID}}
						</td>
						<td><span class="p-column-title">Name</span>
							{{customer.aliciName}}
						</td>
						<td><span class="p-column-title">Address</span>
							{{customer.address}}
						</td>
						<td><span class="p-column-title">Phone Number</span>
							{{customer.aliciTelNo}}
						</td>
						<td>
							<button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
								(click)="editAction(customer)"></button>
							<button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
								(click)="deleteAction(customer.aliciID)"></button>
						</td>
					</tr>
				</ng-template>
			</p-table>
			<p-paginator [rows]="10" [totalRecords]="this.maxPage" (onPageChange)="paginate($event)"></p-paginator>
		</div>

		<p-dialog [(visible)]="customerDialog" [style]="{width: '600px'}" header="Customer Details" [modal]="true"
			styleClass="p-fluid">
			<ng-template pTemplate="content">
				<div class="p-field">
					<label for="name">Name</label>
					<input type="text" pInputText id="aliciName" [(ngModel)]="customer.aliciName" required autofocus />
					<small class="p-invalid" *ngIf="submitted && !customer.aliciName">Name is required.</small>
				</div>
				<div class="p-field">
					<label for="description">Address</label>
					<input type="text" pInputText id="address" [(ngModel)]="customer.address" required autofocus />
				</div>
				<div class="p-field">
					<label for="description">Phone Number</label>
					<input type="text" pInputText id="aliciTelNo" [(ngModel)]="customer.aliciTelNo" required
						autofocus />
				</div>
			</ng-template>
			<ng-template pTemplate="footer">
				<button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
					(click)="hideDialog()"></button>
				<button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
					(click)="saveCustomer()"></button>
			</ng-template>
		</p-dialog>

		<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
	</div>
</div>