<div class="layout-wrapper" [ngClass]="{'layout-horizontal': app.layoutMode === 'horizontal',
    'layout-static': app.layoutMode === 'static',
    'layout-slim': app.layoutMode === 'slim',
    'layout-menu-light': app.lightMenu === true,
    'layout-mobile-active': staticMenuMobileActive,
    'layout-static-inactive': staticMenuDesktopInactive,
    'p-ripple-disabled': !app.ripple}" [class]="app.topbarColor" (click)="onLayoutClick()">
    <app-topbar></app-topbar>

    <app-menu></app-menu>
    <app-right-menu></app-right-menu>

    <div class="layout-main">
        <div class="layout-content">
            <spinner></spinner>
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
    <div class="layout-content-mask"></div>
</div>
